
*{
  margin: 0;
  padding: 0;
}.contain{
  columns: 4;
  column-gap: 5px;
  width:80%;
  margin: 2px auto;
}
.contain img{
  width:100%;
  margin: 0;
  padding: 5px;

}
.header{
  height:10vh;
  width: 100%;
  background-color : #86a0ca;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

